* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    border: none;
}